.button-gradient {
    background-image: linear-gradient(to right, #006175 0%, #00a950 100%);
    border-radius: 50px;
    box-sizing: border-box;
    color: #00a84f;
    display: inline-block;
    height: 3rem;
    font-size: 1rem;
    padding: 4px;
    text-decoration: none;
    z-index: 2;
    width: auto;
    transition: color 0.5s ease;
  }
  span{
    padding: 12px;
  }
  .button-gradient:hover {
    color: #fff;
  }
  
  .button-gradient .button-gradient-span {
    align-items: center;
    background: #0e0e10;
    border-radius: 40px;
    display: flex;
    justify-content: center;
    height: 100%;
    transition: background 0.5s ease;
    width: 100%;
  }
  
  .button-gradient:hover .button-gradient-span {
    background: transparent;
  }
  